{% extends 'NetgenBlockManagerAdminBundle:form:form.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% block children %}
    {{ form_row(form.children.value) }}

    <a class="lr-btn js-cancel-add">Cancel</a>
    <button type="submit" class="lr-btn lr-btn-primary">{{ 'target_type.button.save'|trans }}</button>
{% endblock %}
