{% extends ngbm.pageLayout %}

{% block layout %}
<div class="zone-layout-1zonesa">

    {% if not ngbm.layout.zone('main').empty %}
        <section class="zone zone-main">
            {% ngbm_render_zone ngbm.layout.zone('main') %}
        </section>
    {% endif %}

</div>
{% endblock %}
