{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-4zonesc">

    {% if not ngbm.layout.zone('top').empty %}
        <div class="top-content-block">
            <section class="zone zone-top">
                {% ngbm_render_zone ngbm.layout.zone('top') %}
            </section>
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('left').empty or not ngbm.layout.zone('right').empty %}
        <div class="main-content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        {% if not ngbm.layout.zone('left').empty %}
                            <section class="zone zone-left">
                                {% ngbm_render_zone ngbm.layout.zone('left') %}
                            </section>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if not ngbm.layout.zone('right').empty %}
                            <section class="zone zone-right">
                                {% ngbm_render_zone ngbm.layout.zone('right') %}
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('bottom').empty %}
        <div class="bottom-content-block">
            <section class="zone zone-bottom">
                {% ngbm_render_zone ngbm.layout.zone('bottom') %}
            </section>
        </div>
    {% endif %}

</div>
{% endblock %}
