{% extends ngbm.pageLayout %}

{% block layout %}
<div class="zone-layout-6zonesa">

    {% if not ngbm.layout.zone('top1').empty %}
        <div class="top-content-block">
            <section class="zone zone-top1">
                {% ngbm_render_zone ngbm.layout.zone('top1') %}
            </section>
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('left').empty or not ngbm.layout.zone('center').empty or not ngbm.layout.zone('right').empty %}
        <div class="main-content-block">
            <div class="container">
                <div class="custom-grid">
                    <div class="row">
                        <div class="col-lg-8">
                            {% if not ngbm.layout.zone('top2').empty %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <section class="zone zone-top2">
                                            {% ngbm_render_zone ngbm.layout.zone('top2') %}
                                        </section>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-lg-8">
                                    {% if not ngbm.layout.zone('left').empty %}
                                        <section class="zone zone-left">
                                            {% ngbm_render_zone ngbm.layout.zone('left') %}
                                        </section>
                                    {% endif %}
                                </div>

                                <div class="col-lg-4">
                                    {% if not ngbm.layout.zone('center').empty %}
                                        <section class="zone zone-center">
                                            {% ngbm_render_zone ngbm.layout.zone('center') %}
                                        </section>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            {% if not ngbm.layout.zone('right').empty %}
                                <section class="zone zone-right">
                                    {% ngbm_render_zone ngbm.layout.zone('right') %}
                                </section>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('bottom').empty %}
        <div class="bottom-content-block">
            <section class="zone zone-bottom">
                {% ngbm_render_zone ngbm.layout.zone('bottom') %}
            </section>
        </div>
    {% endif %}

</div>
{% endblock %}
