{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout3">

    {% if not ngbm.layout.zone('header').empty or not ngbm.layout.zone('post_header').empty %}
        <div class="top-content-block">
            {% if not ngbm.layout.zone('header').empty %}
                <section class="zone zone-header">
                    {% ngbm_render_zone ngbm.layout.zone('header') %}
                </section>
            {% endif %}

            {% if not ngbm.layout.zone('post_header').empty %}
                <section class="zone zone-post_header">
                    <div class="container">
                        {% ngbm_render_zone ngbm.layout.zone('post_header') %}
                    </div>
                </section>
            {% endif %}
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('left').empty or not ngbm.layout.zone('right').empty %}
        <div class="main-content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        {% if not ngbm.layout.zone('left').empty %}
                            <section class="zone zone-left">
                                {% ngbm_render_zone ngbm.layout.zone('left') %}
                            </section>
                        {% endif %}
                    </div>
                    <div class="col-lg-8">
                        {% if not ngbm.layout.zone('right').empty %}
                            <section class="zone zone-right">
                                {% ngbm_render_zone ngbm.layout.zone('right') %}
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not ngbm.layout.zone('pre_footer').empty or not ngbm.layout.zone('footer').empty %}
        <div class="bottom-content-block">
            {% if not ngbm.layout.zone('pre_footer').empty %}
                <section class="zone zone-pre_footer">
                    <div class="container">
                        {% ngbm_render_zone ngbm.layout.zone('pre_footer') %}
                    </div>
                </section>
            {% endif %}

            {% if not ngbm.layout.zone('footer').empty %}
                <section class="zone zone-footer">
                    {% ngbm_render_zone ngbm.layout.zone('footer') %}
                </section>
            {% endif %}
        </div>
    {% endif %}

</div>
{% endblock %}
