{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-layout4">

    {% if ngbm.layout.zone('header') is not empty or ngbm.layout.zone('post_header') is not empty %}
        <div class="top-content-block">
            {% if ngbm.layout.zone('header') is not empty %}
                <section class="zone zone-header">
                    {% ngbm_render_zone ngbm.layout.zone('header') %}
                </section>
            {% endif %}

            {% if ngbm.layout.zone('post_header') is not empty %}
                <section class="zone zone-post_header">
                    {% ngbm_render_zone ngbm.layout.zone('post_header') %}
                </section>
            {% endif %}
        </div>
    {% endif %}

    {% if ngbm.layout.zone('left') is not empty or ngbm.layout.zone('right') is not empty %}
        <div class="main-content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        {% if ngbm.layout.zone('left') is not empty %}
                            <section class="zone zone-left">
                                {% ngbm_render_zone ngbm.layout.zone('left') %}
                            </section>
                        {% endif %}
                    </div>
                    <div class="col-lg-4">
                        {% if ngbm.layout.zone('right') is not empty %}
                            <section class="zone zone-right">
                                {% ngbm_render_zone ngbm.layout.zone('right') %}
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if ngbm.layout.zone('pre_footer') is not empty or ngbm.layout.zone('footer') is not empty %}
        <div class="bottom-content-block">
            {% if ngbm.layout.zone('pre_footer') is not empty %}
                <section class="zone zone-pre_footer">
                    {% ngbm_render_zone ngbm.layout.zone('pre_footer') %}
                </section>
            {% endif %}

            {% if ngbm.layout.zone('footer') is not empty %}
                <section class="zone zone-footer">
                    {% ngbm_render_zone ngbm.layout.zone('footer') %}
                </section>
            {% endif %}
        </div>
    {% endif %}

</div>
{% endblock %}
