.ajax-navigation {
    text-align: center;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em 0;
        padding: 0;
        > li {
            &.current,
            &.disabled {
                opacity: .4;
                pointer-events: none;
            }
            a,
            span {
                display: inline-block;
                padding: .5em .85em;
                margin: 0 0 0 -1px;
                border: 1px solid hsl(0, 0, 90);
                > * {
                    pointer-events: none;
                }
            }
            span {
                border: 0;
            }
        }
    }
}
.ajax-load-more {
    display: inline-block;
    padding: .5em .85em;
    border: 1px solid hsl(0, 0, 90);
}
