{% set form_action = path('netgen_block_manager_api_v1_query_form', {'queryId': query.id, 'formName': 'full'}) %}

<h1>Editing "{{ query.identifier }}" query</h1>

{{ form_start(form, {'action': form_action, 'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <input type="submit" />
{{ form_end(form) }}
