{% extends '@NetgenBlockManager/block/block.html.twig' %}

{% import '@NetgenBlockManager/parts/macros.html.twig' as macros %}

{% block content %}
    {% if collections.default is defined %}
        {% set number_of_thumbnails = block.parameter('number_of_thumbnails').value %}

        <div class="row flex-row {% if block.parameter('enable_lightbox').value %}js-lightbox-enabled{% endif %}">
            {% for result in collections.default %}
                <div class="as-flex" style="width:{{ 100 / number_of_thumbnails }}%">{{ ngbm_render_item(result.item, block.itemViewType) }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
