{% extends 'NetgenBlockManagerBundle:block:block.html.twig' %}

{% import 'NetgenBlockManagerBundle:parts:macros.html.twig' as macros %}

{% block content %}
    {% if collections.default is defined %}
        <div class="default-swiper swiper-container"
            data-effect="{{ block.parameter('transition').value }}"
            {% if block.parameter('infinite_loop').value %}data-loop="true"{% endif %}
            {% if block.parameter('autoplay').value %}data-autoplay="{{ block.parameter('autoplay_time').value }}"{% endif %}
        >
            <div class="swiper-wrapper">
                {% for result in collections.default %}
                    <div class="swiper-slide">
                        {{ ngbm_render_item(result.item, block.itemViewType) }}
                    </div>
                {% endfor %}
            </div>
            {% if block.parameter('show_pagination').value %}
                <div class="swiper-pagination"></div>
            {% endif %}
            {% if block.parameter('next_and_previous').value %}
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            {% endif %}
        </div>
   {% endif %}
{% endblock %}
