{% extends 'NetgenBlockManagerBundle:block:block.html.twig' %}

{% import 'NetgenBlockManagerBundle:parts:macros.html.twig' as macros %}

{% block content %}
    {% if collections['default'] is defined %}
        <div class="default-swiper swiper-container">
            <div class="swiper-wrapper">
                {% for result in collections['default'].results %}
                    <div class="swiper-slide">
                        {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
   {% endif %}
{% endblock %}
