{% extends 'NetgenBlockManagerBundle:block:block.html.twig' %}

{% import 'NetgenBlockManagerBundle:parts:macros.html.twig' as macros %}

{% block content %}
    {% if collections['default'] is defined %}
        <div class="default-swiper swiper-container"
            data-effect="{{ block.parameter('transition') }}"
            {% if block.parameter('infinite_loop') %}data-loop="true"{% endif %}
            {% if block.parameter('autoplay') %}data-autoplay="{{ block.parameter('autoplay_time') }}"{% endif %}
        >
            <div class="swiper-wrapper">
                {% for result in collections['default'].results %}
                    <div class="swiper-slide">
                        {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
                    </div>
                {% endfor %}
            </div>
            {% if block.parameter('show_pagination') %}
                <div class="swiper-pagination"></div>
            {% endif %}
            {% if block.parameter('next_and_previous') %}
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            {% endif %}
        </div>
   {% endif %}
{% endblock %}
