{% extends '@NetgenLayoutsAdmin/form/form.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% trans_default_domain 'nglayouts_forms' %}

{% block children %}
    <p>{{ 'rule.edit.title'|trans }}</p>

    {{ form_row(form.comment) }}

    <div class="form-actions">
        <a class="nl-btn js-cancel-add">{{ 'rule.edit.button.cancel'|trans }}</a>
        <button type="submit" class="nl-btn nl-btn-primary">{{ 'rule.edit.button.save'|trans }}</button>
    </div>
{% endblock %}
