{% extends '@NetgenLayoutsAdmin/form/modal.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% trans_default_domain 'nglayouts_forms' %}

{% block header %}
    {{ 'rule.edit.title'|trans }}
{% endblock %}

{% block children %}
    {{ form_row(form.description) }}
{% endblock %}

{% block buttons %}
    <button class="nl-btn action-cancel">{{ 'rule.edit.button.cancel'|trans }}</button>
    <button type="submit" class="nl-btn nl-btn-primary action-apply">{{ 'rule.edit.button.save'|trans }}</button>
{% endblock %}
