{% extends '@NetgenLayoutsAdmin/form/form.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% trans_default_domain 'nglayouts_forms' %}

{% block children %}
    <p>{{ ('layout_resolver.condition.' ~ form.vars.condition_type.type)|trans({}, 'nglayouts') }}</p>

    {{ form_row(form.value) }}

    <div class="form-actions">
        <a class="nl-btn js-cancel-add">{{ 'condition_type.button.cancel'|trans }}</a>
        <button type="submit" class="nl-btn nl-btn-primary">{{ 'condition_type.button.save'|trans }}</button>
    </div>
{% endblock %}
