.idea/
.tmp/
coverage/
coverage_api/
node_modules/
vendor/
**/Resources/public/dev/
.php_cs.cache
.web-server-pid
composer.lock
composer.phar
grunt.lock
package-lock.json
phpunit.phar
studio.json
yarn.lock
