.idea/
**/Resources/public/dev/
coverage/
coverage_api/
node_modules/
vendor/
.DS_Store
.php-version
.php-cs-fixer.cache
.phpunit.result.cache
.web-server-pid
composer.lock
composer.phar
package-lock.json
phpunit.phar
studio.json
yarn.lock
yarn-error.log
