includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - tests/application/public/bundles/
        - tests/application/src/Kernel.php

    ignoreErrors:
        # Disable errors about missing value types in PHPUnit data providers

        - '#Method .+Test(Base|Case)?::\w+DataProvider\(\) return type has no value type specified in iterable type iterable.#'

        # Disable errors for various tests that verify values have correct types or arrays not having certain elements
        - '#Parameter \#1 \$\w+ of class .+ constructor expects array\<.+\>, array\<.+\|stdClass\> given.#'
        - '#Parameter \#3 \$zoneMappings of method .+::validateChangeLayoutType\(\) expects array\<string, array\<string\>\>, array\<string, int\> given.#'
        - '#expects array<Closure\|Symfony\\Component\\Validator\\Constraint>, array{stdClass} given.#'

        # Symfony

        - '#with generic interface Symfony\\Component\\Form\\\w+ (but )?does not specify its types: TData#'
        - '#extends generic class Symfony\\Component\\Form\\\w+ but does not specify its types: TData#'

        # Disable errors for various "only read/written" properties
        - '#\$\w+ is never (written|read), only (read|written).#'

        -
            message: '#Undefined variable: \$this#'
            path: tests/lib/Transfer/Output/Visitor/Integration

        -
            message: '#Call to an undefined method Netgen\\Layouts\\Persistence(\\Handler)?\\\w+Interface::(method|expects)#'
            path: tests/lib/Core/Service/TransactionRollback

        - '#Netgen\\Layouts\\Tests\\Persistence\\Doctrine\\Stubs\\EmptyQueryHandler::__construct\(\) does not call parent constructor#'

        # PHPStan

        - "#PHPDoc tag @var with type array\\<string, string> is not subtype of type array\\<int\\|string, '(\\?|string)'>#"

        # Netgen Layouts specifics

        - '#Method Netgen\\Bundle\\LayoutsAdminBundle\\Tests\\Controller\\API\\ApiTestCase::browser\(\) should return Netgen\\Bundle\\LayoutsAdminBundle\\Tests\\Controller\\API\\KernelBrowser but returns Zenstruck\\Browser\\KernelBrowser#'
