includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    excludes_analyse:
        - tests/application/web/bundles/
        - tests/bootstrap.php

    ignoreErrors:
        # Doctrine DBAL
        -
            message: '#Cannot call method fetchAll\(\) on Doctrine\\DBAL\\Driver\\Statement\|int#'
            path: tests/lib/Persistence/Doctrine/Helper/PositionHelperTest.php

        -
            message: '#should be contravariant with parameter \$object#'
            path: tests/lib/Item/Stubs/UnsupportedValueConverter.php

        -
            message: '#should be contravariant with parameter \$object#'
            path: tests/lib/Item/Stubs/ValueConverter.php

        -
            message: '#Call to function is_object\(\) with object will always evaluate to true.#'
            path: tests/lib/TestCase/ExportObjectTrait.php

        - '#Access to an undefined property object::\$id.#'
