<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    requireCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
>
    <testsuites>
        <testsuite name="Netgen\Layouts">
            <directory>tests/lib</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\LayoutsBundle">
            <directory>tests/bundles/LayoutsBundle</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\LayoutsAdminBundle">
            <directory>tests/bundles/LayoutsAdminBundle</directory>
            <exclude>tests/bundles/LayoutsAdminBundle/Controller</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">bundles/LayoutsBundle</directory>
            <directory suffix=".php">bundles/LayoutsAdminBundle</directory>
        </include>
        <exclude>
            <directory>bundles/*Bundle/Command</directory>
            <directory>bundles/*Bundle/Controller</directory>
            <directory>bundles/*Bundle/Resources</directory>
            <file>bundles/LayoutsBundle/NetgenLayoutsBundle.php</file>
            <file>bundles/LayoutsAdminBundle/NetgenLayoutsAdminBundle.php</file>
            <file>bundles/LayoutsAdminBundle/DependencyInjection/ExtensionPlugin.php</file>
            <file>bundles/LayoutsAdminBundle/DependencyInjection/NetgenLayoutsAdminExtension.php</file>
        </exclude>
    </source>
</phpunit>
