<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    beStrictAboutChangesToGlobalState="true"
>
    <testsuites>
        <testsuite name="Netgen\BlockManager">
            <directory>lib/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\BlockManagerBundle">
            <directory>bundles/BlockManagerBundle/Tests</directory>
            <exclude>bundles/BlockManagerBundle/Tests/Controller</exclude>
        </testsuite>
        <testsuite name="Netgen\Bundle\EzPublishBlockManagerBundle">
            <directory>bundles/EzPublishBlockManagerBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
            <directory suffix=".php">bundles/*Bundle</directory>
            <exclude>
                <directory>lib/Tests</directory>
                <directory>lib/Migrations</directory>
                <directory>bundles/*Bundle/Controller</directory>
                <directory>bundles/*Bundle/Tests</directory>
                <directory>bundles/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
