<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="false"
    bootstrap="../vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Netgen\BlockManager\API">
            <directory>lib/API/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\BlockDefinition">
            <directory>lib/BlockDefinition/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Configuration">
            <directory>lib/Configuration/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Core\Persistence\Doctrine">
            <directory>lib/Core/Persistence/Doctrine/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Core\Service">
            <directory>lib/Core/Service/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Form">
            <directory>lib/Form/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Normalizer">
            <directory>lib/Normalizer/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\Persistence">
            <directory>lib/Persistence/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\BlockManager\View">
            <directory>lib/View/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\BlockManagerBundle">
            <directory>bundles/BlockManagerBundle/Tests</directory>
        </testsuite>
        <testsuite name="Netgen\Bundle\EzPublishBlockManagerBundle">
            <directory>bundles/EzPublishBlockManagerBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>lib/Tests</directory>
                <directory>lib/*/Tests</directory>
                <directory>lib/*/*/Tests</directory>
                <directory>lib/*/*/*/Tests</directory>
                <directory>bundles/*Bundle/Tests</directory>
                <directory>bundles/*/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
