{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
<div class="zone-layout-1zonesa">

    {% if ngbm.layout.zone('main') is not empty %}
        <section class="zone zone-main">
            {% ngbm_render_zone ngbm.layout.zone('main') %}
        </section>
    {% endif %}

</div>
{% endblock %}
