{% extends ngbm.pageLayoutTemplate %}

{% block layout %}
    <div class="row">
        <div class="col-md-12">
            {% ngbm_render_zone ngbm.layout.zone('top') %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% ngbm_render_zone ngbm.layout.zone('left') %}
        </div>

        <div class="col-md-4">
            {% ngbm_render_zone ngbm.layout.zone('right') %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% ngbm_render_zone ngbm.layout.zone('bottom') %}</div>
        </div>
    </div>
{% endblock %}
