<div class="row">
    <div class="col-md-12">
        <div data-zone="top"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div data-zone="left"></div>
    </div>

    <div class="col-md-4">
        <div data-zone="right"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-zone="bottom"></div>
    </div>
</div>
