{% extends '@NetgenLayouts/collection/pager.html.twig' %}

{% trans_default_domain 'nglayouts' %}

{# templates have the following parameters:
    pages: number of total pages
    page: current page
    url: function that takes page number and returns URL for that page
#}

{% block pager_template %}
{% verbatim %}
    <ul>
        <li <%=if (this.page === 1) {%>class='disabled'<%=}%>>
            <a href='<%=this.url(this.page - 1)%>' class='ajax-nav-prev' rel='prev nofollow noopener noreferrer'>
                {% endverbatim %}{{ 'collection.pager.previous'|trans }}{% verbatim %}
            </a>
        </li>
        <%=for(var i = 1; i <= this.pages; i++) {%>
            <%=if (this.pages < 10 || i === 1 || i === this.pages || i === this.page || i-1 === this.page || i-2 === this.page || i+1 === this.page || i+2 === this.page) {%>
                <li <%=if (this.page === i) {%>class='current'<%=}%>>
                    <a href='<%=this.url(i)%>' class='ajax-nav-link' <%=if (this.page-1 === i) {%>rel='prev nofollow noopener noreferrer'<%=}else if (this.page+1 === i) {%>rel='next nofollow noopener noreferrer'<%=} else {%>rel='nofollow noopener noreferrer'<%=}%>>
                        <%=i%>
                    </a>
                </li>
            <%=}else if (i === 2 || i === this.pages - 1) {%>
                <li><span>...</span></li>
            <%=}%>
        <%=}%>
        <li <%=if (this.page === this.pages) {%>class='disabled'<%=}%>>
            <a href='<%=this.url(this.page + 1)%>' class='ajax-nav-next' rel='next nofollow noopener noreferrer'>
                {% endverbatim %}{{ 'collection.pager.next'|trans }}{% verbatim %}
            </a>
        </li>
    </ul>
{% endverbatim %}
{% endblock %}

{% block load_more_template %}
{% verbatim %}
    <%=if (this.page < this.pages) {%>
        <a href='<%=this.url(this.page + 1)%>' class='ajax-load-more' rel='nofollow noopener noreferrer'>
            {% endverbatim %}{{ 'collection.pager.load_more'|trans }}{% verbatim %}
        </a>
    <%=}%>
{% endverbatim %}
{% endblock %}
