{% set load_initial_with_ajax = block.parameter('paged_collections:ajax_first').value %}
{% set collection_page_url = nglayouts_collection_page_url(pager, block, collection_identifier) %}

{% set wrap_css_id = block('wrap_css_id') is defined ? block('wrap_css_id') : '' %}
{% set wrap_css_class = block('wrap_css_class') is defined ? block('wrap_css_class') : '' %}

{% set pager_template = pager_template|default(null) %}

<div class="ajax-collection" {% if load_initial_with_ajax %}data-load-initial{% endif %} data-base-url="{{ collection_page_url }}">
    <div class="ajax-container {{ wrap_css_class }}" {% if wrap_css_id is not empty %}id="{{ wrap_css_id }}"{% endif %}>
        {% if not load_initial_with_ajax %}
            {% block collection_page %}{% endblock %}
        {% endif %}
    </div>

    {{ nglayouts_collection_pager(pager, block, collection_identifier, {template: pager_template}) }}
</div>
