{% set pager_type = block.parameter('paged_collections:type').value|default('pager') %}

<nav class="ajax-navigation"
    data-page="{{ pager.currentPage }}"
    data-total-pages="{{ pager.nbPages }}"
    data-type="{{ pager_type }}"
    data-template="{{ block(pager_type ~ '_template')|e }}">
</nav>
