{% if collections is not empty and collections['default'] is defined %}
    {% set collection = collections['default'] %}

    {% if collection.type == constant('TYPE_DYNAMIC', collection) %}
        {% if collection.queries is not empty %}
            <div data-query-form="true" data-form="{{ path('netgen_block_manager_app_collection_query_form_edit', {'queryId': collection.queries[0].id, 'formName': 'full'}) }}"></div>
        {% endif %}
    {% endif %}
{% endif %}
