<div class="split">
    <div class="l">
        <div data-zone="top_left">
            {% for blocks.top_left as block %}
                {{ render(controller('ngbm_block:view', {'block': block})) }}
            {% endfor %}
        </div>
    </div>
    <div class="r">
        <div data-zone="top_right">
            {% for blocks.top_right as block %}
                {{ render(controller('ngbm_block:view', {'block': block})) }}
            {% endfor %}
        </div>
    </div>
    <div class="r">
        <div data-zone="bottom">
            {% for blocks.bottom as block %}
                {{ render(controller('ngbm_block:view', {'block': block})) }}
            {% endfor %}
        </div>
    </div>
</div>
