{% extends ngbm.configuration.parameter('pagelayout') %}

{% block layout %}
<div class="split">
    <div class="l">
        <div data-zone="top_left">
            {% include 'NetgenBlockManagerBundle:layout:blocks.html.twig' with {
                'blocks': layout.zones[0].blocks
            } %}
        </div>
    </div>

    <div class="r">
        <div data-zone="top_right">
            {% include 'NetgenBlockManagerBundle:layout:blocks.html.twig' with {
                'blocks': layout.zones[1].blocks
            } %}
        </div>
    </div>

    <div id="main" class="clearfix">
        {{ block('content') }}
    </div>

    <div class="r">
        <div data-zone="bottom">
            {% include 'NetgenBlockManagerBundle:layout:blocks.html.twig' with {
                'blocks': layout.zones[2].blocks
            } %}
        </div>
    </div>
</div>
{% endblock %}
