<section>
    {% if block_definition.config.hasForm('full') %}
        {% include 'NetgenBlockManagerAdminUIBundle:app/block/parts/edit:collections.html.twig' %}

        <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'full'}) }}"></div>

        {% include 'NetgenBlockManagerAdminUIBundle:app/block/parts/edit:collection_queries.html.twig' %}
    {% elseif block_definition.config.hasForm('design') and block_definition.config.hasForm('content') %}
        <div id="aside-tabs">
            <ul class="aside-tab-control">
                <li><a id="content">Content</a></li>
                <li><a id="design">Design</a></li>
            </ul>

            <div class="tab-pane" id="content-tab">
                {% include 'NetgenBlockManagerAdminUIBundle:app/block/parts/edit:collections.html.twig' %}

                <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'content'}) }}"></div>

                {% include 'NetgenBlockManagerAdminUIBundle:app/block/parts/edit:collection_queries.html.twig' %}
            </div>

            <div class="tab-pane" id="design-tab">
                <div data-form="{{ path('netgen_block_manager_api_v1_block_form', {'blockId': block.id, 'formName': 'design'}) }}"></div>
            </div>
        </div>
    {% endif %}
</section>

<section>
    <div data-browser-config-name="ezcontent" class="collection-items"></div>
</section>
