{% extends 'NetgenBlockManagerAdminBundle:admin:pagelayout.html.twig' %}

{% trans_default_domain 'ngbm_admin' %}

{% block title %}
    <title>{{ 'shared_layouts.title'|trans }} - {{ 'pagelayout.title'|trans }}</title>
{% endblock %}

{% block content %}
    <a href="{{ path('ngbm_app', {shared: true}) }}" target="_blank">Create shared layout</a>
{% endblock %}
