<div class="col-lg-6 col-md-6 col-sm-6">
   {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
</div>

{% if loop.index0 % number_of_columns == 1 %}
    <div class="clearfix visible-sm-block"></div>
    <div class="clearfix visible-md-block"></div>
    <div class="clearfix visible-lg-block"></div>
{% endif %}
