<div class="col-lg-3 col-md-4 col-sm-6">
   {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
</div>

{% if loop.index0 % number_of_columns == 1 %}<div class="clearfix visible-sm-block"></div>{% endif %}
{% if loop.index0 % number_of_columns == 2 %}<div class="clearfix visible-md-block"></div>{% endif %}
{% if loop.index0 % number_of_columns == 3 %}<div class="clearfix visible-lg-block"></div>{% endif %}
