<p>{{ item.layout.name }}</p>

<i class="layout-icon {{ item.layout.layoutType.identifier }}" title="{{ item.layout.layoutType.name }}" {% if item.layout.layoutType.icon is not null %}style="background-image:url({{ item.layout.layoutType.icon }})"{% endif %}></i>
