{% extends '@NetgenBlockManager/block/block.html.twig' %}

{% set video_services = {
    'youtube': 'https://www.youtube.com/embed/%video_id%',
    'vimeo': 'https://player.vimeo.com/video/%video_id%'
} %}

{% set service = block.parameter('service') %}
{% set video_id = block.parameter('video_id') %}

{% block content %}
    {% if video_services[service.value] is defined and not video_id.empty %}
        <div class="video-{{ service.value }} embed-responsive embed-responsive-16by9">
            <iframe
                src="{{ video_services[service.value]|replace({ '%video_id%': video_id.value }) }}"
                class="embed-responsive-item"
                width="770"
                height="433"
                frameborder="0"
                allowfullscreen>
            </iframe>
        </div>
    {% endif %}
{% endblock %}
