<div class="row">
    <div class="col-md-12">
        <div data-zone="header"></div>
        <div data-zone="post_header"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-zone="main"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-zone="pre_footer"></div>
        <div data-zone="footer"></div>
    </div>
</div>
