{% extends 'NetgenBlockManagerBundle:block:view.html.twig' %}

{% block content %}
    {% if collections['default'] is defined %}
        <div class="grid-row">
            {% for result in collections['default'].results %}
                <div class="grid-item cols-{{ block.parameter('number_of_columns')|default(1) }}">
                    {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
