{% set collection_identifier = collection_identifier|default('default') %}

{% if block.hasCollection(collection_identifier) %}
    {% set collection = block.collection(collection_identifier) %}

    <div
        data-query-form="true"
        data-form="{{ path('nglayouts_app_collection_collection_form_edit', {'collectionId': collection.id.toString}) }}"
        data-input {% if block.locale != block.mainLocale %}data-disabled="true"{% endif %}>
    </div>
{% endif %}
