{% trans_default_domain 'nglayouts_app' %}

{% set collection_identifier = collection_identifier|default('default') %}

{% if block.hasCollection(collection_identifier) %}
    {% set collection_config = null %}

    {% if block.definition.hasCollection(collection_identifier) %}
        {% set collection_config = block.definition.collection(collection_identifier) %}
    {% endif %}

    <div class="sidebar-panel">
        <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseItems" aria-expanded="true" aria-controls="collapseItems">
            {{ 'block.edit.items'|trans }}
        </a>

        <div class="collapse in" id="collapseItems">
            <div class="collection-items" {% if block.locale != block.mainLocale %}data-disabled="true"{% endif %}>
                <div class="value-type-wrapper">
                    <select class="js-browser-item-type">
                        {% for value_type in nglayouts.config.parameter('value_types')|filter(value_type => value_type.enabled and value_type.supportsManualItems) %}
                            {% if collection_config is not null and collection_config.validItemType(value_type.identifier) %}
                                <option data-max_selected="0" value="{{ value_type.identifier }}" >{{ value_type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="body"></div>
            </div>
        </div>
    </div>
{% endif %}
