{% extends '@NetgenBlockManager/api/block/block.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div data-placeholder="left" data-receiver></div>
        </div>
        <div class="col-md-6">
            <div data-placeholder="right" data-receiver></div>
        </div>
    </div>
{% endblock %}
