{% extends nglayouts.pageLayoutTemplate %}

{% block layout %}
    <div class="row">
        <div class="col-md-12">
            {% nglayouts_render_zone 'top' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% nglayouts_render_zone 'left' %}
        </div>

        <div class="col-md-8">
            {% nglayouts_render_zone 'right' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% nglayouts_render_zone 'bottom' %}
        </div>
    </div>
{% endblock %}
