{% extends 'NetgenBlockManagerAdminBundle:admin:pagelayout.html.twig' %}

{% trans_default_domain 'ngbm_admin' %}

{% block content %}
    {% for rule in rules %}
        <div class="lr-panel lr-rule">
            {{ ngbm_render_rule(rule) }}
        </div>
    {% else %}
        <p>{{ 'layout_resolver.rules.no_rules'|trans }}</p>
    {% endfor %}

    <a href="#" id="add-new-button" class="lr-btn lr-btn-primary js-add-rule">
        <i class="material-icons">add</i> {{ 'layout_resolver.rules.add_new_rule'|trans }}
    </a>
{% endblock %}
