{% trans_default_domain 'ngbm_app' %}

{% macro notice(notice) %}
    <div class="notice">
        <i class="material-icons" aria-hidden="true">info_outline</i>
        <span class="msg">{{ notice }}</span>
    </div>
{% endmacro %}

{% macro info(info, icon_class) %}
    <div class="info">
        {% if icon_class is defined and icon_class is not empty %}
            <div class="info-icon">
                <span class="{{ icon_class }}"></span>
            </div>
        {% endif %}
        <span class="msg">{{ info }}</span>
    </div>
{% endmacro %}

{% macro ttl_label(ttl) %}
{% spaceless %}
    {% set diff = date(ttl).diff(date(0)) %}

    {% set display = {
        's': diff.s > 0 or (diff.s == 0 and diff.i == 0 and diff.h == 0 and diff.days == 0),
        'i': diff.i > 0 or ((diff.d > 0 or diff.h > 0) and diff.s > 0),
        'h': diff.h > 0 or (diff.d > 0 and (diff.i > 0 or diff.s > 0)),
        'a': diff.days > 0
    } %}

    {% set format = [] %}
    {% for component, label in {'a': 'd', 'h': 'h', 'i': 'min', 's': 's'} %}
        {% if display[component] %}
            {% set format = format|merge(['%' ~ component ~ label]) %}
        {% endif %}
    {% endfor %}

    {{ diff|date(format|join(' ')) }}
{% endspaceless %}
{% endmacro %}
