<div class="empty_collection">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <span class="msg">This block is empty. Please pick some items manually or use a dynamic collection.</span>
</div>
