{% trans_default_domain 'ngbm_api' %}

<div class="empty_collection">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <span class="msg">{{ 'block.empty_collection.notice'|trans }}</span>
</div>
