<span class="settings-value editable-value js-setting-edit" data-setting-id="{{ target.id }}" data-setting-type="target">
    {{ target.value }}
</span>

<a href="#" class="remove-setting js-setting-delete" data-setting-id="{{ target.id }}" data-setting-type="target">
    <i class="material-icons">clear</i>
</a>
