<div class="template_name">{{ block.viewType }}</div>

{% block inline_data %}{% endblock %}

<span class="block_actions">
    {# <span class="action-edit glyphicon glyphicon-pencil" title="Edit"></span> #}
    <span class="action-destroy glyphicon glyphicon-remove" title="Delete"></span>
    <span class="handle glyphicon glyphicon-move" title="Move"></span>
</span>
