<p data-inline>
    <span contenteditable="true" data-attr="content" data-inline-child>
        {{ block.parameters.content|default('Paragraph') }}
    </span>
</p>

{% if form is defined and form is not empty %}
    {% set form_action = path('netgen_block_manager_api_v1_block_form', {'block_id': block.id, 'formName': 'inline'}) %}

    {{ form_start(form, {'action': form_action, 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endif %}
