{% extends 'NetgenBlockManagerBundle:api/block:view.html.twig' %}

{% block inline_data %}
    <p data-inline>
        <span contenteditable="true" data-attr="content" data-inline-child>
            {{ block.parameter('content') }}
        </span>
    </p>

    {% if collections.default is defined %}
        {% for result in collections.default.results %}
            {{ ngbm_render_item(result.item, block, [], view_context) }}
        {% endfor %}
    {% endif %}
{% endblock %}
