{% extends 'NetgenBlockManagerBundle:api/block/view:block.html.twig' %}

{% block inline_data %}
    <{{ block.parameter('tag') }} data-inline>
       <span contenteditable="true" data-attr="title" data-hint="click to write" data-inline-child>{{ block.parameter('title') }}</span>
    </{{ block.parameter('tag') }}>
{% endblock %}
