{% extends 'NetgenBlockManagerBundle:api/block/view:block.html.twig' %}

{% block inline_data %}
    <{{ block.parameters.tag }} data-inline>
       <span contenteditable="true" data-attr="title" data-hint="click to write" data-inline-child>{{ block.parameters.title }}</span>
    </{{ block.parameters.tag }}>
{% endblock %}
