{% extends '@NetgenLayoutsAdmin/form/form.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% trans_default_domain 'nglayouts_forms' %}

{% block children %}
    <a class="toggle-link sub-toggle" role="button" data-toggle="collapse" href="#collapseOffsetLimit" aria-expanded="true" aria-controls="collapseOffsetLimit">
        {{ 'collection.offset_limit'|trans }}
    </a>

    <div class="collapse in" id="collapseOffsetLimit">
        <div class="row">
            <div class="col-xs-6">{{ form_row(form.offset) }}</div>
            <div class="col-xs-6">{{ form_row(form.limit) }}</div>
        </div>
    </div>
{% endblock %}
