{% extends 'NetgenBlockManagerBundle:api/block:block.html.twig' %}

{% trans_default_domain 'ngbm_app' %}

{% block content %}
    <p data-inline>
        <span contenteditable="true" data-attr="text" data-hint="{{ 'block.placeholder.button'|trans }}" data-inline-child>
            {{ block.parameter('text').value }}
        </span>
    </p>
{% endblock %}
