{% extends 'NetgenBlockManagerBundle:api/block:block.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div data-placeholder="main"></div>
    </div>
</div>
{% endblock %}
