{% extends 'NetgenBlockManagerBundle:api/block:block.html.twig' %}

{% import 'NetgenBlockManagerBundle:api/parts:macros.html.twig' as macros %}

{% trans_default_domain 'ngbm_app' %}

{% block content %}
    {% if block.parameter('video_id') is empty or block.parameter('service') is empty %}
        {{ macros.notice('block.notice.no_video'|trans) }}
    {% else %}
        <div class="external-video-block js-external-video" data-video-id="{{ block.parameter('video_id') }}" data-service="{{ block.parameter('service') }}">
            <img src="" class="js-video-thumb" />
        </div>
    {% endif %}
{% endblock %}
