{% extends '@NetgenBlockManager/api/block/block.html.twig' %}

{% import '@NetgenBlockManager/api/parts/macros.html.twig' as macros %}

{% trans_default_domain 'ngbm_app' %}

{% block content %}
    {% if not block.parameter('video_id').empty and not block.parameter('service').empty %}
        <div class="external-video-block js-external-video"
             data-video-id="{{ block.parameter('video_id').value }}"
             data-service="{{ block.parameter('service').value }}"
        >
            <img src="" class="js-video-thumb" />
        </div>
    {% else %}
        {{ macros.notice('block.notice.no_video'|trans) }}
    {% endif %}
{% endblock %}
