{% extends 'NetgenBlockManagerBundle:api/block:block.html.twig' %}

{% block inline_data %}
    <p data-inline>
        <span contenteditable="true" data-attr="content" data-inline-child>
            {{ block.parameter('content')|nl2br }}
        </span>
    </p>
{% endblock %}
