{% extends '@NetgenBlockManager/api/block/block.html.twig' %}

{% trans_default_domain 'ngbm_app' %}

{% block content %}
    {% set tag = block.parameter('tag').value|default('h1') %}

    <{{ tag }} data-inline>
        <span contenteditable="true" data-attr="title" data-hint="{{ 'block.placeholder.title'|trans }}" data-inline-child>
            {{ block.parameter('title').value }}
        </span>
    </{{ tag }}>
{% endblock %}
