{% extends 'NetgenBlockManagerBundle:api/block:block.html.twig' %}

{% block content %}
    {% set tag = block.parameter('tag').value %}

    <{{ tag|default('h1') }} data-inline>
        <span contenteditable="true" data-attr="title" data-hint="Click to write" data-inline-child>
            {{ block.parameter('title').value }}
        </span>
    </{{ tag|default('h1') }}>
{% endblock %}
