html,
body {
    height:100%;
}

.nl-rules {
    position:relative;
}

.layouts-controls {
    margin:0 0 1em;
    text-align:right;
    .sorting-show {
        display:none;
    }
    .export & {
        display: none;
    }
    .js-open-ngl {
        border-radius: 5px;
    }
}

.export {
    > .layouts-header {
        > .export-controls {
            display: block;
        }
    }
}

.export-controls {
    display: none;
    float: right;
    margin:0 0 1em;
    text-align:right;
}

.ng-layouts-app {
    * {
        box-sizing:border-box;
    }
    &.ajax-loading,
    &.ajax-loading * {
        cursor:wait !important;
    }
    display:flex;
    background-color:$bgColor;
    font-family:$baseFont;
    font-size:16px;
    line-height:1.5;
    color:$textColor;
    min-height:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a:not(.nl-btn) {
        color:$linkColor;
        text-decoration: none;
        font-size: 13px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    h1 {
        font-size:1.625em;
        margin:1em 0 3em;
    }
    .ng-layouts-container {
        margin:0;
        width:100%;
        display:flex;
    }
    .layouts-sidebar {
        width:20%;
        background:hsl(0, 0, 90);

        .logo-wrapper {
          background: #282828;
          .logo {
            background: transparent url('assets/layouts-logo-admin.svg') no-repeat center center;
            height: 80px;
            cursor: pointer;
          }
        }
        .main-menu {
            padding-top:$gutter*2;
            > ul {
                list-style-type:none;
                padding:0;
                margin:0;
                > li {
                    padding: 0 15px;
                    > a {
                        padding:10px 15px;
                        display:block;
                        font-size:1em;
                        text-decoration:none;
                        font-weight: bold;
                        color: black;
                        &:hover {
                            background:hsla(0, 0, 0, 0.02);
                        }
                    }
                    &.current {
                        > a {
                            background:$bgColor;
                            color:blue;
                            cursor:default;
                        }
                    }
                }
            }
        }
    }
    .layouts-content {
        flex:1;
        padding:$gutter*1.5;
        position:relative;
        background: white !important;
    }
    &.sorting {
        .layouts-controls {
            .sorting-show {
                display: inline-block;
            }
            .sorting-hide,
            .nl-filter-dropdown {
                display: none !important;
            }
        }
        .js-add-rule, .js-add-group {
            display: none;
        }
        .nl-no-filtered-items {
            display: none !important;
        }
    }
    .multientry-items {
        .multientry-item {
            position:relative;
            .close {
                position:absolute;
                right:6px;
                top:9px;
                width:18px;
                height:18px;
                line-height:18px;
                font-size:14px;
                cursor:pointer;
                text-align:center;
                transition:background 0.15s;
                &:hover {
                    background:rgba(0, 0, 0, 0.05);
                }
            }
            input[type=text] {
                padding-right:3em;
            }
            &:first-child:nth-last-child(1) {
                .close {
                    display: none;
                }
            }
        }
    }
    .multientry[data-last_item_can_be_removed="true"] {
        .multientry-items {
            .multientry-item {
                .close {
                    display: block;

                }
            }
        }
    }
    .multientry {
        .no-items-msg {
            display: none;
            font-size: 13px;
            padding: .5em;
            background: #f1f1f1;
            margin: 0 0 1em;
        }
        &.show-message {
            .no-items-msg {
                display: block;
            }
        }
    }
}

.layouts-header {
    margin:0 0 2em;
    .layouts-title {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        float: left;
        color: #2565ED;
        clear: both;
    }
    .layouts-controls {
        float:right;
        .nl-dropdown {
            display: inline-block;
        }
    }
    &::after {
        content:"";
        display:table;
        clear:both;
    }
    p {
        clear:both;
        font-size: 18px;
        color: #9D9D9D;
        float: left;
    }
}
