@import "../../../../node_modules/flatpickr/dist/themes/airbnb";

.datetimepicker {
  padding-right: 2rem;
  position: relative;
  .input-group {
    flex: 1;
  }
  .js-clear-input {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 2rem;
    top: 50%;
    height: 2rem;
    margin-top: -1rem;
    border: 0;
    background: transparent;
    pointer-events: none;
    transition: opacity .25s;
    color: #d0021b;
    i {
      vertical-align: middle;
    }
    &:focus {
      outline: none;
    }
  }
  .datetime {
    position: relative;
    margin: 0 0 .5em;
    input[type="text"] {
      margin: 0;
      padding-right: 3em;
      cursor: pointer;
    }
    .input-icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: .25em .5em;
      pointer-events: none;
    }
  }
  .datetime-formatted {
    position: absolute;
    left: -999em;
    top: -999em;
    width: 0px !important;
    height: 0px !important;
    visibility: hidden;
  }
  &.date-entered {
    .js-clear-input {
      opacity: 1;
      pointer-events: initial;
    }
  }
}
