/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/Roboto/Roboto-300.eot');
  src: url('assets/fonts/Roboto/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('assets/fonts/Roboto/Roboto-300.woff2') format('woff2'),
       url('assets/fonts/Roboto/Roboto-300.woff') format('woff'),
       url('assets/fonts/Roboto/Roboto-300.ttf') format('truetype'),
       url('assets/fonts/Roboto/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Roboto/Roboto-regular.eot');
  src: url('assets/fonts/Roboto/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('assets/fonts/Roboto/Roboto-regular.woff2') format('woff2'),
       url('assets/fonts/Roboto/Roboto-regular.woff') format('woff'),
       url('assets/fonts/Roboto/Roboto-regular.ttf') format('truetype'),
       url('assets/fonts/Roboto/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Roboto/Roboto-500.eot');
  src: url('assets/fonts/Roboto/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('assets/fonts/Roboto/Roboto-500.woff2') format('woff2'),
       url('assets/fonts/Roboto/Roboto-500.woff') format('woff'),
       url('assets/fonts/Roboto/Roboto-500.ttf') format('truetype'),
       url('assets/fonts/Roboto/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/Roboto/Roboto-700.eot');
  src: url('assets/fonts/Roboto/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('assets/fonts/Roboto/Roboto-700.woff2') format('woff2'),
       url('assets/fonts/Roboto/Roboto-700.woff') format('woff'),
       url('assets/fonts/Roboto/Roboto-700.ttf') format('truetype'),
       url('assets/fonts/Roboto/Roboto-700.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/Roboto/Roboto-italic.eot');
  src: url('assets/fonts/Roboto/Roboto-italic.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-italic'),
       url('assets/fonts/Roboto/Roboto-italic.woff2') format('woff2'),
       url('assets/fonts/Roboto/Roboto-italic.woff') format('woff'),
       url('assets/fonts/Roboto/Roboto-italic.ttf') format('truetype'),
       url('assets/fonts/Roboto/Roboto-italic.svg#Roboto') format('svg');
}

/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('assets/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* icomoon */
@font-face {
  font-family: 'netgen-layouts';
  src:  url('assets/fonts/netgen-layouts.eot?1ps4yu');
  src:  url('assets/fonts/netgen-layouts.eot?1ps4yu#iefix') format('embedded-opentype'),
    url('assets/fonts/netgen-layouts.ttf?1ps4yu') format('truetype'),
    url('assets/fonts/netgen-layouts.woff?1ps4yu') format('woff'),
    url('assets/fonts/netgen-layouts.svg?1ps4yu#netgen-layouts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'netgen-layouts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group-disabled:before {
  content: "\e900";
}
.icon-group-disabled-open:before {
  content: "\e901";
}
.icon-group-open:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e903";
}
.icon-rule-disabled:before {
  content: "\e904";
}
.icon-rule:before {
  content: "\e905";
}
