.nl-modal-mask {
    $modalBorderRadius:0px;
    position:fixed;
    z-index:1200;
    background:hsla(0, 0, 0, 0.5);
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    padding:15px;
    animation:maskFadeIn 0.2s;
    * {
        box-sizing:border-box;
    }
    .nl-modal {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        background:#fff;
        border-radius:$modalBorderRadius;
        width:500px;
        max-width:98%;
        max-height:98%;
        display:flex;
        flex-direction:column;
        animation:modalSlide 0.4s ease-out;
        .nl-grid {
            margin-left:-$gutter/2;
            margin-right:-$gutter/2;
            > [class^='col-'] {
                padding-left:$gutter/2;
                padding-right:$gutter/2;
            }
        }
        .close-modal {
            position:absolute;
            right:15px;
            top:16px;
            display:block;
            color:#fff;
            border:none;
            padding:0;
            font-size:24px;
            text-align:center;
            background:transparent;
            text-decoration:none;
            &:hover {
                text-decoration: none;
            }
            @extend %material-icons;
            &::before {
                content:"clear";
            }
        }
        .nl-modal-body {
            padding:25px 15px;
            overflow-y:auto;
            font-size: 16px;

            #delete-verification {
                display: block;
                margin: 0 0 1em;
                border-radius: 2px;
                width: 100%;
                padding: 0 0.75em;
                font-size: 14px;
                height: 44px;
                border: 1px solid #b3b3b3;
                background: #fff;
            }
        }
        .nl-modal-head {
            padding:15px 35px 15px 15px;
            background:hsl(0, 0, 25);
            color:#fff;
            border-radius:$modalBorderRadius $modalBorderRadius 0 0;
            font-size:20px;
            min-height:58px;
        }
        .nl-modal-actions {
            padding: 15px;
            text-align: right;
            border-top: 1px solid rgba(#000, .1);
            .nl-btn {
                margin-left: .5em;
            }
        }
        .errors {
            list-style-type:none;
            margin:-0.5em 0 1.5em;
            padding:0;
            font-size:15px;
            width: 100%;
            text-align: end;
            li {
                color:red;
            }
        }
    }
    form {
        label {
            display:block;
            font-weight:normal;
            font-size:14px;
            margin:0 0 4px;
        }
        input[type="text"],
        input[type="number"],
        input[type="url"],
        input[type="email"],
        textarea,
        select {
            display:block;
            margin:0 0 1em;
            border-radius:2px;
            width:100%;
            padding:0 0.75em;
            font-size:14px;
            height:44px;
            border:1px solid hsl(0, 0, 70);
            background: #fff;
            &::placeholder {
                color:hsl(0, 0, 70);
            }
            &[disabled] {
                color: hsl(0, 0, 60);
                border-color: hsl(0, 0, 80);
                cursor: not-allowed;
            }
        }
        select {
            appearance: none;
            padding-right: 2em;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNDEiPjxwYXRoIGQ9Ik01LjUzIDcuNDlMLjIgMi4xNWEuNjYuNjYgMCAwIDEgMC0uOTNMLjgyLjU5YS42Ni42NiAwIDAgMSAuOTMgMEw2IDQuODIgMTAuMjUuNmEuNjYuNjYgMCAwIDEgLjkzIDBsLjYzLjYzYy4yNS4yNS4yNS42NyAwIC45M0w2LjQ3IDcuNDlhLjY2LjY2IDAgMCAxLS45NCAweiIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+');
            background-repeat: no-repeat;
            background-position: right .75em center;
            background-size: .75em auto;
            &::-ms-expand {
                display: none;
            }
            &[multiple] {
                background-image: none;
                height: auto;
                padding: .25em 0;
                option {
                    padding: .25em .5em;
                }
            }
        }
        textarea {
            height:auto;
            min-height:120px;
            padding-top:0.375em;
            resize:vertical;
        }
        input[type="checkbox"] {
            position:absolute;
            left:-9999em;
            + label {
                display:block;
                position:relative;
                padding:0.3846153846em 0.3846153846em 0.3846153846em 2em !important;
                margin:0 0 0.5em;
                cursor:pointer;
                &::before {
                    @extend %material-icons;
                    font-size:24px;
                    content:"check_box_outline_blank";
                    position:absolute;
                    left:0;
                    top:0.1em;
                    color:hsl(0, 0, 40);
                }
            }
            &:checked {
                + label {
                    &::before {
                        content:"check_box";
                        color:$linkColor;
                    }
                }
            }
            &:indeterminate {
                + label {
                    &::before {
                        content:"indeterminate_check_box";
                    }
                }
            }
        }
    }
    .form-actions {
        text-align:right;
    }
    .nl-modal-loader {
        color:#fff;
        font-size:14px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        display:none;
        > span {
            @extend .loading-ng-icon;
        }
    }
    &.modal-loading {
        .nl-modal-loader {
            display:block;
        }
        .nl-modal {
            display:none;
        }
    }
    .nl-message {
        padding: 1em;
        margin: 1.4em 0;
        font-size: .875em;
        &-warning {
            background: #f2e1c4;
        }
        &-info {
            background: #d6eff7;
        }
    }

    #nl-move-modal {
        max-height: 90vh;
        flex-direction: column;

        @media only screen and (min-width: 1200px) {
            width: 33%;
        }

        @media only screen and (max-width: 1366px) {
            width: 50%;
        }

        @media only screen and (max-width: 900px) {
            width: 60%;
        }


        .nl-group, .nl-group-head {
            border-bottom: 1px solid transparent;
        }

        .group-title {
            width: 100%;
        }

        .nl-group-body {
            padding: 0;
        }
    }
}
@keyframes maskFadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes modalSlide {
    from {
        margin-top:50px;
        opacity:0;
    }
    top {
        margin-top:0;
        opacity:1;
    }
}
