//colors
$textColor: hsl(0, 0, 25);
$bgColor: hsl(0, 0, 96);
$panelBg: hsl(0, 0, 100);
$panelLightColor: hsl(218, 19, 75);
$linkColor: #2970ef;
$highlightColor: #e22303;

//values
$gutter: 20px;
$panelFontSize: 13px;
$btnHeight: 36px;
$inputHeight: 32px;

$baseFont: 'Roboto', Helvetica, Arial, sans-serif;

%clearfix {
    &::after {
        display:table;
        clear:both;
        content:"";
    }
}

%material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

//responsive breakpoints
$break-lg:1200px;
$break-md:992px;
$break-sm:768px;
$break-xs:480px;


%fadeIn {
    animation:fadeIn 350ms ease-out;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    top {
        opacity:1;
    }
}
