{% extends '@NetgenBlockManager/block/block.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ ngbm_render_placeholder(block, 'left') }}
        </div>
        <div class="col-md-4">
            {{ ngbm_render_placeholder(block, 'right') }}
        </div>
    </div>
{% endblock %}
