{% set pager_type = 'pager' %}

<nav class="ajax-navigation"
    data-page="{{ pager.currentPage }}"
    data-total-pages="{{ pager.nbPages }}"
    data-type="{{ pager_type }}"
    data-template="{{ block(pager_type ~ '_template')|e }}"
    >
</nav>
