{% extends 'NetgenBlockManagerBundle:api/block:view.html.twig' %}

{% import 'NetgenBlockManagerBundle:api/parts:macros.html.twig' as macros %}

{% trans_default_domain 'ngbm_app' %}

{% block content %}
    {% if collections['default'] is defined %}
        {% if collections['default'].results|length == 0 %}
            {{ macros.notice('block.notice.empty_collection'|trans) }}
        {% else %}
            <div class="grid-row">
                {% for result in collections['default'].results %}
                    <div class="grid-item cols-{{ block.parameter('number_of_columns')|default(3) }}">
                        {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
