{% extends 'NetgenBlockManagerBundle:api/block:view.html.twig' %}

{% block content %}
    {% if collections['default'] is defined %}
        <div class="list-row">
            {% for result in collections['default'].results %}
                <div class="list-item">
                    {{ ngbm_render_item(result.item, block.itemViewType, [], view_context) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
