{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% set number_of_columns = number_of_columns|default(1) %}
{% set item_view_type = item_view_type|default(null) %}

{% if block is defined and collection is defined %}
    {% if collection is not empty %}
        <div class="{% if number_of_columns > 1 %}grid-row{% else %}list-row{% endif %}">
            {% for result in collection %}
                <div class="{% if number_of_columns > 1 %}grid-item cols-{{ number_of_columns }}{% else %}list-item{% endif %}">
                    {{ nglayouts_render_result(result, item_view_type, block.itemViewType, {}, view_context) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ macros.notice('block.notice.empty_collection'|trans) }}
    {% endif %}
{% endif %}
