{% extends '@NetgenBlockManagerAdmin/form/form.html.twig' %}

{% trans_default_domain 'ngbm_forms' %}

{% block children %}
    <div class="row">
        <div class="col-xs-6">{{ form_row(form.offset) }}</div>
        <div class="col-xs-6">{{ form_row(form.limit) }}</div>
    </div>
{% endblock %}
