{% macro collection(block, collections, identifier, item_view_type, view_context) %}
    {% if collections[identifier] is defined and collections[identifier] is not empty %}
        <div class="list-row">
            {% for result in collections[identifier] %}
                <div class="list-item">
                    {{ nglayouts_render_result(result, item_view_type, block.itemViewType, {}, view_context) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro inline_template(string, parameters) %}
    {% if '{{' in string and '}}' in string and '{%' not in string and '{#' not in string %}
        {{ nglayouts_render_template(string, parameters) }}
    {% else %}
        {{ string }}
    {% endif %}
{% endmacro %}
