html,
body {
    height:100%;
}

.nl-rules {
    position:relative;
}

.rule-controls {
    display:none;
    margin:0 0 1em;
    text-align:right;
    .sorting-show {
        display:none;
    }
}

.ng-layouts-app {
    * {
        box-sizing:border-box;
    }
    &.ajax-loading,
    &.ajax-loading * {
        cursor:wait !important;
    }
    display:flex;
    background-color:$bgColor;
    font-family:$baseFont;
    font-size:16px;
    line-height:1.5;
    color:$textColor;
    min-height:100%;
    a {
        color:$linkColor;
    }
    h1 {
        font-size:1.625em;
        margin:1em 0 3em;
    }
    .ng-layouts-container {
        margin:0 auto;
        max-width:1200px;
        width:98%;
        display:flex;
    }
    .layouts-sidebar {
        width:20%;
        background:hsl(0, 0, 90);
        .main-menu {
            padding-top:$gutter*2;
            > ul {
                list-style-type:none;
                padding:0;
                margin:0;
                > li {
                    border-bottom:1px solid hsla(0, 0, 0, 0.02);
                    &:first-child {
                        border-top:1px solid hsla(0, 0, 0, 0.02);
                    }
                    > a {
                        padding:10px 15px;
                        display:block;
                        font-size:0.875em;
                        font-weight:300;
                        text-decoration:none;
                        &:hover {
                            background:hsla(0, 0, 0, 0.02);
                        }
                    }
                    &.current {
                        > a {
                            background:$bgColor;
                            color:$highlightColor;
                            cursor:default;
                        }
                    }
                }
            }
        }
    }
    .layouts-content {
        flex:1;
        padding:$gutter*2 $gutter;
    }
    &.sorting {
        .rule-controls {
            .sorting-show {
                display:inline-block;
            }
            .sorting-hide {
                display:none;
            }
        }
        .js-add-rule {
            display:none;
        }
    }
}

