html,
body {
    font-family:$baseFont;
    font-size:100%;
    line-height:1.5;
    color:$textColor;
    min-height:100%;
    height:100%;
}

body {
    padding:0;
    background-color:$bgColor;
    &.ajax-loading,
    &.ajax-loading * {
        cursor:wait !important;
    }
}

* {
    box-sizing:border-box;
}

a {
    color:$linkColor;
}

h1 {
    font-size:1.625em;
    margin:1em 0 3em;
}

.lr-rules {
    position:relative;
}

.rule-controls {
    margin:0 0 1em;
    text-align:right;
    .sorting-show {
        display:none;
    }
}

#lr-app {
    margin:0 auto;
    max-width:1200px;
    width:98%;
    min-height:100%;
    display:flex;
    .lr-sidebar {
        width:20%;
        background:hsl(0, 0, 90);
        .main-menu {
            padding-top:$gutter;
            > ul {
                list-style-type:none;
                padding:0;
                margin:0;
                > li {
                    border-bottom:1px solid hsla(0, 0, 0, 0.02);
                    &:first-child {
                        border-top:1px solid hsla(0, 0, 0, 0.02);
                    }
                    > a {
                        padding:10px 15px;
                        display:block;
                        font-size:0.875em;
                        font-weight:300;
                        text-decoration:none;
                        &:hover {
                            background:hsla(0, 0, 0, 0.02);
                        }
                    }
                    &.current {
                        > a {
                            background:$bgColor;
                            color:$textColor;
                            cursor:default;
                        }
                    }
                }
            }
        }
    }
    .lr-content {
        flex:1;
        padding:$gutter;
    }
}

body.sorting {
    .rule-controls {
        .sorting-show {
            display:inline-block;
        }
        .sorting-hide {
            display:none;
        }
    }
    .js-add-rule {
        display:none;
    }
}
