.nl-dropdown {
    position:relative;
    &[data-position="right"] {
        text-align:right;
    }
    .nl-dropdown-menu {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        border-radius:0;
        background:hsl(0, 0, 25);
        color:#fff;
        z-index:1000;
        margin:0;
        padding:0.5em 0;
        list-style-type:none;
        > li {
            padding:0;
            margin:0;
            > a,
            > span {
                display:block;
                font-size:13px;
                padding:0.6em 1em;
                white-space:nowrap;
                text-decoration:none;
                transition:background-color 0.2s ease;
                &[disabled] {
                    opacity:0.2;
                    cursor:default;
                }
            }
            > a {
                color:inherit;
                &:hover:not([disabled]) {
                    background:hsla(0, 0, 100, .05);
                }
                .note {
                    display:block;
                    font-size:0.6923076923em;
                    color:hsl(0, 0, 65);
                }
            }
        }
    }
    &.nl-dropdown-active {
        .nl-dropdown-menu {
            display:block;
            animation:showDropdown 200ms ease-out;
        }
        .nl-dropdown-toggle {
            background:hsl(0, 0, 25);
            color:#fff;
        }
    }
    &[data-position="right"] {
        .nl-dropdown-menu {
            right:0;
            left:auto;
        }
    }
}

@keyframes showDropdown {
    from {
        opacity:0;
    }
    top {
        opacity:1;
    }
}
