.nl-dropdown {
    position:relative;
    .nl-dropdown-menu {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        background:#fff;
        z-index:1000;
        box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        border-radius:2px;
        margin:0;
        padding:0.5em 0;
        list-style-type:none;
        > li {
            padding:0;
            margin:0;
        }
        a,
        span {
            display:block;
            font-size:0.8125rem;
            padding:0.6em 1em;
            white-space:nowrap;
            text-decoration:none;
            transition:background-color 0.2s ease;
            &[disabled] {
                opacity:0.2;
                cursor:default;
            }
        }
        a {
            color:$textColor;
            &:hover:not([disabled]) {
                background:hsl(0, 0, 90);
            }
        }
    }
    &.nl-dropdown-active {
        .nl-dropdown-menu {
            display:block;
            animation:showDropdown 200ms ease-out;
        }
    }
    &[data-position="right"] {
        .nl-dropdown-menu {
            right:0;
            left:auto;
        }
    }
}

@keyframes showDropdown {
    from {
        opacity:0;
    }
    top {
        opacity:1;
    }
}
