.nl-grid {
    display:flex;
    flex-wrap:wrap;
    margin-left:-$gutter;
    margin-right:-$gutter;
    > [class^='col-'] {
        padding-left:$gutter;
        padding-right:$gutter;
        flex:0 0 100%;
        width: 100%;
    }
    .col-xxs1 {
        flex:0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .col-xxs2 {
        flex:0 0 16.666666667%;
        max-width: 16.666666667%;
    }
    .col-xxs3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-xxs4 {
        flex:0 0 33.333333333%;
        max-width: 33.333333333%;
    }
    .col-xxs5 {
        flex:0 0 41.666666667%;
        max-width: 41.666666667%;
    }
    .col-xxs6 {
        flex:0 0 50%;
        max-width: 50%;
    }
    .col-xxs7 {
        flex:0 0 58.333333333%;
        max-width: 58.333333333%;
    }
    .col-xxs8 {
        flex:0 0 66.666666666%;
        max-width: 66.666666666%;
    }
    .col-xxs9 {
        flex:0 0 75%;
        max-width: 75%;
    }
    .col-xxs10 {
        flex:0 0 83.333333333%;
        max-width: 83.333333333%;
    }
    .col-xxs11 {
        flex:0 0 91.666666666%;
        max-width: 91.666666666%;
    }
    .col-xxs12 {
        flex:0 0 100%;
    }
    @media screen and (min-width:$break-xs) {
        .col-xs1 {
            flex:0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-xs2 {
            flex:0 0 16.666666667%;
            max-width: 16.666666667%;
        }
        .col-xs3 {
            flex:0 0 25%;
            max-width: 25%;
        }
        .col-xs4 {
            flex:0 0 33.333333333%;
            max-width: 33.333333333%;
        }
        .col-xs5 {
            flex:0 0 41.666666667%;
            max-width: 41.666666667%;
        }
        .col-xs6 {
            flex:0 0 50%;
            max-width: 50%;
        }
        .col-xs7 {
            flex:0 0 58.333333333%;
            max-width: 58.333333333%;
        }
        .col-xs8 {
            flex:0 0 66.666666666%;
            max-width: 66.666666666%;
        }
        .col-xs9 {
            flex:0 0 75%;
            max-width: 75%;
        }
        .col-xs10 {
            flex:0 0 83.333333333%;
            max-width: 83.333333333%;
        }
        .col-xs11 {
            flex:0 0 91.666666666%;
            max-width: 91.666666666%;
        }
        .col-xs12 {
            flex:0 0 100%;
        }
    }
    @media screen and (min-width:$break-sm) {
        .col-s1 {
            flex:0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-s2 {
            flex:0 0 16.666666667%;
            max-width: 16.666666667%;
        }
        .col-s3 {
            flex:0 0 25%;
            max-width: 25%;
        }
        .col-s4 {
            flex:0 0 33.333333333%;
            max-width: 33.333333333%;
        }
        .col-s5 {
            flex:0 0 41.666666667%;
            max-width: 41.666666667%;
        }
        .col-s6 {
            flex:0 0 50%;
            max-width: 50%;
        }
        .col-s7 {
            flex:0 0 58.333333333%;
            max-width: 58.333333333%;
        }
        .col-s8 {
            flex:0 0 66.666666666%;
            max-width: 66.666666666%;
        }
        .col-s9 {
            flex:0 0 75%;
            max-width: 75%;
        }
        .col-s10 {
            flex:0 0 83.333333333%;
            max-width: 83.333333333%;
        }
        .col-s11 {
            flex:0 0 91.666666666%;
            max-width: 91.666666666%;
        }
        .col-s12 {
            flex:0 0 100%;
        }
    }
    @media screen and (min-width:$break-md) {
        .col-m1 {
            flex:0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-m2 {
            flex:0 0 16.666666667%;
            max-width: 16.666666667%;
        }
        .col-m3 {
            flex:0 0 25%;
            max-width: 25%;
        }
        .col-m4 {
            flex:0 0 33.333333333%;
            max-width: 33.333333333%;
        }
        .col-m5 {
            flex:0 0 41.666666667%;
            max-width: 41.666666667%;
        }
        .col-m6 {
            flex:0 0 50%;
            max-width: 50%;
        }
        .col-m7 {
            flex:0 0 58.333333333%;
            max-width: 58.333333333%;
        }
        .col-m8 {
            flex:0 0 66.666666666%;
            max-width: 66.666666666%;
        }
        .col-m9 {
            flex:0 0 75%;
            max-width: 75%;
        }
        .col-m10 {
            flex:0 0 83.333333333%;
            max-width: 83.333333333%;
        }
        .col-m11 {
            flex:0 0 91.666666666%;
            max-width: 91.666666666%;
        }
        .col-m12 {
            flex:0 0 100%;
        }
    }
    @media screen and (min-width:$break-lg) {
        .col-l1 {
            flex:0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }
        .col-l2 {
            flex:0 0 16.666666667%;
            max-width: 16.666666667%;
        }
        .col-l3 {
            flex:0 0 25%;
            max-width: 25%;
        }
        .col-l4 {
            flex:0 0 33.333333333%;
            max-width: 33.333333333%;
        }
        .col-l5 {
            flex:0 0 41.666666667%;
            max-width: 41.666666667%;
        }
        .col-l6 {
            flex:0 0 50%;
            max-width: 50%;
        }
        .col-l7 {
            flex:0 0 58.333333333%;
            max-width: 58.333333333%;
        }
        .col-l8 {
            flex:0 0 66.666666666%;
            max-width: 66.666666666%;
        }
        .col-l9 {
            flex:0 0 75%;
            max-width: 75%;
        }
        .col-l10 {
            flex:0 0 83.333333333%;
            max-width: 83.333333333%;
        }
        .col-l11 {
            flex:0 0 91.666666666%;
            max-width: 91.666666666%;
        }
        .col-l12 {
            flex:0 0 100%;
        }
    }
}
