{% form_theme form 'NetgenBlockManagerBundle:form/theme:ngbm.html.twig' %}

<body>
{{ form_start(form) }}
    {{ form_errors(form) }}

    {% block children %}{% endblock %}
{{ form_end(form) }}
</body>
