<div class="nl-modal">
    <a href="#" class="close-modal"></a>

    <div class="nl-modal-head">
        {% block header %}{% endblock %}
    </div>

    <div class="nl-modal-body">
        {% block body %}{% endblock %}

    </div>
    <div class="nl-modal-actions">
        {% block buttons %}{% endblock %}
    </div>
</div>
