services:
    netgen_layouts.controller.base:
        class: Netgen\Bundle\LayoutsBundle\Controller\AbstractController
        abstract: true
        calls:
            - setContainer: ["@Psr\\Container\\ContainerInterface"]

    # Frontend controllers

    netgen_layouts.controller.block.view_ajax_block:
        class: Netgen\Bundle\LayoutsBundle\Controller\Block\ViewAjaxBlock
        parent: netgen_layouts.controller.base
        arguments:
            - "@netgen_layouts.error.handler"
        tags:
            - { name: container.service_subscriber }
            - { name: controller.service_arguments }
