{% extends 'NetgenBlockManagerBundle:block:block.html.twig' %}

{% set number_of_columns = block.parameter('number_of_columns')|default(2) %}
{% set template_name = 'NetgenBlockManagerBundle:block/list/grid:' ~ number_of_columns ~ '_columns.html.twig' %}

{% block content %}
   {% if collections['default'] is defined %}
       <div class="row">
           {% for result in collections['default'].results %}
                {% include template_name ignore missing %}
           {% endfor %}
       </div>
   {% endif %}
{% endblock %}
