{% set number_of_columns = block.parameter('number_of_columns').value|default(2) %}

{% set template_name = '@NetgenBlockManager/block/list/grid/' ~ number_of_columns ~ '_columns.html.twig' %}
{% if column_templates is defined and column_templates[number_of_columns] is defined %}
    {% set template_name = column_templates[number_of_columns] %}
{% endif %}

<div class="row">
    {% for result in collection %}
        {% include template_name with {view_context: 'default'} %}
    {% endfor %}
</div>
