{% extends '@NetgenBlockManager/block/block.html.twig' %}

{% set collection_identifier = 'default' %}
{% set number_of_columns = block.parameter('number_of_columns').value|default(2) %}

{% set template_name = '@NetgenBlockManager/block/list/grid/' ~ number_of_columns ~ '_columns.html.twig' %}
{% if column_templates is defined and column_templates[number_of_columns] is defined %}
    {% set template_name = column_templates[number_of_columns] %}
{% endif %}

{% set collection_html %}
    {% for result in collections[collection_identifier] %}
        {% include template_name %}
    {% endfor %}
{% endset %}

{% block content %}
    {% if collections[collection_identifier] is defined and collections[collection_identifier] is not empty %}
        {% if block.parameter('paged_collections:enabled').value %}
            {% embed '@NetgenBlockManager/collection/paged_collection.html.twig' with {pager: pagers[collection_identifier]} %}
                {% block wrap_css_class %}row{% endblock %}

                {% block collection_page %}
                    {{ collection_html }}
                {% endblock %}
            {% endembed %}
        {% else %}
            <div class="row">
                {{ collection_html }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
