{% trans_default_domain 'ngbm_app' %}

{% set collection_identifier = collection_identifier|default('default') %}

{% if collections[collection_identifier] is defined %}
    <div class="sidebar-panel">
        <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseItems" aria-expanded="true" aria-controls="collapseItems">
            {{ 'block.edit.items'|trans }}
        </a>

        <div class="collapse in" id="collapseItems">
            <div class="collection-items">

                <div class="value-type-wrapper">
                    <select name="value_type" class="js-browser-config-selector">
                        {% for value_type in ngbm.config.parameter('value_types') %}
                            {% if value_type.enabled %}
                                <option value="{{ value_type.identifier }}" >{{ value_type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="body"></div>
            </div>
        </div>
    </div>
{% endif %}
