{% set collection_identifier = collection_identifier|default('default') %}

{% if block.hasCollectionReference(collection_identifier) %}
    {% set collection = block.collectionReference(collection_identifier).collection %}

    <div data-query-form="true" data-form="{{ path('ngbm_app_collection_collection_form_edit', {'collectionId': collection.id}) }}"></div>
{% endif %}
