name: Behat

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

env:
  COMPOSER_ROOT_VERSION: dev-master

jobs:
  behat:
    name: Behat
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ~7.4.0

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: highest
          composer-options: '--prefer-dist'
          ignore-cache: 'yes'

      - run: ./tests/prepare_behat.sh > /dev/null 2>&1 &

      # Sleep to allow the script to download Chrome WebDriver
      - run: sleep 15

      - run: composer behat-headless
