name: Static analysis

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

jobs:
  static-analysis:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        script: ['phpstan', 'phpstan-tests', 'psalm']

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ~5.4.0

      - run: composer update --prefer-dist

      - run: composer ${{ matrix.script }}
