name: Tests

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  pull_request: ~

env:
  COMPOSER_ROOT_VERSION: dev-master

jobs:
  tests:
    name: ${{ matrix.php }} / ${{ matrix.symfony }} / ${{ matrix.script }} / ${{ matrix.db }}${{ matrix.deps == 'lowest' && ' / lowest' || '' }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.4']
        symfony: ['~7.4.0', '~8.0.0']
        script: ['test', 'test-api']
        db: ['sqlite']
        deps: ['highest']
        include:
          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test'
            db: 'mysql'
            deps: 'highest'
          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test-api'
            db: 'mysql'
            deps: 'highest'

          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test'
            db: 'postgres'
            deps: 'highest'
          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test-api'
            db: 'postgres'
            deps: 'highest'

          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test'
            db: 'sqlite'
            deps: 'lowest'
          - php: '8.4'
            symfony: '~7.4.0'
            script: 'test-api'
            db: 'sqlite'
            deps: 'lowest'

    services:
      mysql:
        image: 'mysql:latest'
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: testdb
        ports:
          - '3306:3306'
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
          --tmpfs /var/lib/mysql

      postgres:
        image: 'postgres:latest'
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        ports:
          - '5432:5432'

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - run: composer --version
      - run: composer validate --strict

      - run: echo "DATABASE=mysql://root@127.0.0.1/testdb" >> $GITHUB_ENV
        if: ${{ matrix.db == 'mysql' }}

      - run: echo "DATABASE=pgsql://postgres:postgres@127.0.0.1/testdb" >> $GITHUB_ENV
        if: ${{ matrix.db == 'postgres' }}

      # Install Flex as a global dependency to enable usage of extra.symfony.require
      # while keeping Flex recipes from applying
      - run: composer global config --no-plugins allow-plugins.symfony/flex true
      - run: composer global require --no-scripts symfony/flex

      - run: composer config extra.symfony.require ${{ matrix.symfony }}

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.deps }}
          composer-options: '--prefer-dist'

      - run: composer ${{ matrix.script }}
